.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    padding: 2em;
    
  
    
    
    

}
.hero__title {
    font-size: var(--size-xl);
    margin-bottom: 1.5rem;
}

.hero__information-1, .hero__information-2, .hero__information-3 {
    font-size: var(--size-base);
    padding: 0.5em;
    margin-bottom: 2em;
    background-color: var(--clr-solera);
    border-radius: 1em;
    align-items: center;  
    transition: transform 0.3s, box-shadow 0.3s;
   
    
}

.hero__information-1:hover {
    transform: translateY(-3px);
}

.hero__information-2:hover {
    transform: translateY(-3px);
}

 .hero__information-3:hover {
    transform: translateY(-3px);  
}

.hero__ul:hover{
    transform: translateY(-3px);
}

.hero__ul {
    font-size: var(--size-base);
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: '\2714';
    padding: 1em;
    flex: 1;
    background-color: var(--clr-solera);
    border-radius: 1em;
    transition: transform 0.3s, box-shadow 0.3s;
    list-style-position: inside;
    align-items: center;

}

.hero__ul::before {
    margin-left: 0.5em;
    content:'' ;
}






/* xs  */
@media (min-width: 475px) {
    .hero {
        margin-top: 4rem;
        padding: 3em;
        border-radius: 3rem;        
    }

    .hero__title {
        font-size: var(--size-4xl);
        margin-bottom: 2rem;
    }

    .hero__information {
        font-size: var(--size-base);
        padding: 1em;
        margin-bottom: 3em;

    }
    .hero__ul {
        font-size: var(--size-base);
    }


}

/* small  */
/* @media (min-width: 640px) {} */

/* medium  */
@media (min-width: 768px) {
    .hero {
        display: grid;
        justify-content: center;
        grid-template-columns: 245px 245px 245px;
        grid-template-rows: 250px 250px 250px ;
        margin-top: 4rem;
        padding: 3em;
        border-radius: 3rem;     
        /* border: solid 1px red;    */
    }

    .hero__title {
        font-size: var(--size-5xl);
        margin-bottom: 3rem;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .hero__information {
        font-size: var(--size-lg);
        padding: 1em;
        margin-bottom: 3em;

    }

    .hero__information-1 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
        margin-right: 1em;
        

        }

        .hero__information-2 {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end:2 ;
            margin-right: 1em;
        }
        
        .hero__information-3 {
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 3;
            grid-column-end: 3;
            margin-right: 3em;
    
        }

    }


    .hero__ul {
        font-size: var(--size-base);
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-top: 5em;
        margin-right: 5em;
        margin-left: 5em;
        
        

    }
    .hero__image {
        grid-row-start: 3;
        grid-row-end:3;
        grid-column-start: 2;
        grid-column-end: 1;
        width: 380px;
        z-index: -1;
        
    }






/* lg  */
@media (min-width: 1024px) {
    .hero {
        display: grid;
        grid-template-columns: 245px 245px 245px 245px;
        grid-template-rows: 250px 250px 250px 250px;
        margin-top: 5rem;
        padding: 3em;
        border-radius: 3rem;
        /* border: solid red 1px;     */
    }
    .hero__information-1, .hero__information-2, .hero__information-3 {
        font-size: var(--size-base);
    }

    

    .hero__title {
        font-size: var(--size-6xl);
        margin-bottom: 2rem;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .hero__information {
        font-size: var(--size-xl);
        padding: 1em;
        margin-bottom: 3em;

    }

    .hero__ul {
        font-size: var(--size-base);
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 5;
        margin-left: 5em;
        margin-bottom:2em;
    }
    .hero__information-1 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-start: 1;
        margin-right: 1em;
        

        }
    

    .hero__information-2 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end:4;
        margin-right: 1em;
    }
    
    .hero__information-3 {
        grid-row-start: 2;
        grid-row-start: 2;
        grid-column-start: 4;
        grid-column-end: 4;

    }
    



.hero__image {
    grid-row-start: 3;
    grid-row-end:4;
    grid-column-start: 1;
    grid-column-start: 1;
    width: 500px;
    z-index: -1;
    margin-top:10em;
    
    
} 

}


    

/* xl  */
@media (min-width: 1280px) {
    .hero {
        grid-template-columns: 245px 245px 245px 245px 245px;
    }
    .hero__title {
        font-size: var(--size-6xl);
        margin-bottom: 2rem;
    }
    .hero__information-1, .hero__information-2, .hero__information-3 {
        font-size: var(--size-xl);
    }
    .hero__ul {
        font-size:  var(--size-xl);
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 4;
        grid-column-end: 6;
        margin-left: 1em;
    }
    .hero__information-1 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end:3;
        margin-right: 1em;

    }
    .hero__information-2 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end:5;
        margin-right: 1em;
    }
    .hero__information-3 {
        grid-row-start: 2;
        grid-row-start: 2;
        grid-column-start: 5;
        grid-column-end: 5;
    }

}
   



/* 2xl  */
@media (min-width: 1536px) {
    .hero {
        display: grid;
        grid-template-columns: repeat(4, 1fr) ;
        grid-template-rows: 300px 300px 300px 300px ;
        margin-top: 3rem;
        padding: 2em;
        border-radius: 3rem;
        
        
    }

    .hero__title {
        font-size: var(--size-7xl);
        margin-bottom: 2rem;
        grid-column-start: 1;
        grid-column-end: 3;
        
        
    }

    .hero__information {
        font-size: var(--size-3xl);
        padding: 1em;
        margin-bottom: 3em;

    }
    .hero__information-1, .hero__information-2, .hero__information-3 {
        font-size: var(--size-2xl);
    }
    
    .hero__information-1 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end:2;
        margin-right: 1em;
        

        }
    

    .hero__information-2 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end:4;
        margin-right: 1em;
    }
    
    .hero__information-3 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 5;

    }
    
.hero__ul {
    font-size: var(--size-2xl);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 20em;
    margin-left: 3em;
   

}
.hero__image {
    grid-row-start: 3;
    grid-row-end:4;
    grid-column-start: 1;
    grid-column-start: 1;
    width: 650px;
    z-index: -1;
    margin-top:1em;
   
} 
}